<%- include("./header.ejs")%>
<link rel="stylesheet" href="/styles/aside.css">
<div class="aside-container open-animation">
  <aside class="aside">
    <a href="/study" title="Study">
      <img src="/images/book.svg" alt="Book">
    </a>
    <a href="/give-class" title="Give Class">
      <img src="/images/class.svg" alt="Class">
    </a>

    <a href="/profile" title="Profile">
      <img src="/images/user.svg" alt="Profile">
    </a>
  </aside>
</div>
<script src="/scripts/aside.js"></script>

<%- include("./footer.ejs")%>