<div class="navbar navbar-dark bg-danger navbar-expand-lg"> <!--THIS LAST IS TO HAVE A "FLEX-DIRECTION: ROW" IN THE NAV-->
  <a class="navbar-brand" href="/">
    GuiaPress
  </a>

  <ul class="navbar-nav mr-auto" style="flex-direction: row;">
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">Categorias</a>
    </li>
    <li class="nav-item">
      <a href="/admin/articles" class="nav-link">Artigos</a>
    </li>
    <li class="nav-item">
      <a href="/logout" class="nav-link">Logout</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" style="flex-direction: row;">
    <li class="nav-item">
      <a href="/logout" class="nav-link">Logout</a>
    </li>
  </ul>
</div>

